*.pyc
*.bak

# Local Testing file
log.*

# Original HTML file
src/board/

# Confidential team id
src/constants.py

# Raw data
data/

# JetBrains
.idea/
*.iml

# Info
config/config.yaml

# DS_Store
.DS_Store
